- var presents = ['skype аудит','30 виджетов','dashboard','месяц amocrm']

mixin main(props)
	main.main&attributes(attributes)(data-component='main')
		.main__red-light
		.main__purple-light
		+svg('red_ball').main__red-ball
		+svg('red_ball').main__red-ball-sm
		+svg('purple_ball').main__purple-ball
		.main__first-block
			h1.main__first-title Зарабатывайте больше<br><span>с WELBEX</span>
			p.main__first-paragraph Развиваем и контролируем продажи за вас
		.main__second-block 
			h2.main__second-title Вместе с<span> бесплатной</span><br><span>консультацией </span>мы дарим:
			.main__second-descktop
				.present-first
					h3.present-first-title Виджеты
					p 30 готовых решений
				.present-second
					h3.present-second-title Dashboard
					p с показателями вашего бизнеса
				.present-third
					h3.present-third-title Skype Аудит
					p отдела продаж и CRM системы
				.present-fourth
					h3.present-fourth-title 35 дней
					p использования CRM
			button(type='submit').main__second-btn Получить консультацию
			.main__second-mobile
				ul
					each item in presents
						li!= item
