
$white: #FFFFFF;
$black: #000000;
$purple: #9D5CD0;
$purpleFocus:  #7943A4;
$purpleCheck: #C283F3;
$purpleBorder: #D1A9F0;

$textBlack: #333333;
$textGrey: #999999;
$borderGrey: #CACACA;
$redError: #D11616;
