$white: #FFFFFF;
$grey: #969698;
$titleBlack: #2C2C33;
$bgBlack: #343331;
$greySlid: #E1E1E1;
$btnGrey: #978E7D;
$borderLine: #F0F0F0;
$pagesLinks: #959595;
$greyItemText: #5C5C5C;
$itemPrice: #17AA9D;

