.main {
  $root: &;

  &__events-title {
    @include h2title();
    margin-bottom: 15px;

  }

  &__events-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__events-item {
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  &__events-item-block {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px 50px 42px 50px;
    border: 1px solid $borderGrey;
    border-top: none;
  }

  &__events-item-picture {
    height: 300px;

  }

  &__events-item-image {
    width: 100%;
    object-fit: cover;
  }

  &__events-item-location {
    margin-bottom: 15px;
    width: 40%;
    @include spanDescr();
  }

  #second-event-location {
    width: 24%;
  }

  #first-event-title {
    width: 70%;
  }

  &__events-item-title {

    margin-bottom: 12px;
    @include h3title();
    word-wrap: break-word;
  }


  &__events-item-paragraph {
    @include pDescr();
    margin-bottom: 60px;
  }

  &__item-link {
    @include pDescr();
    width: max-content;
    color: $purple;
    position: relative;
    border: none;
    margin-top: auto;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, outline 0.3s ease-in-out, padding 0.3s ease-in-out, border-bottom .3s ease-in-out;
  }



  &__item-link::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 1px;
    background-color: $purple;
  }

  &__item-link:focus-visible {
    background-color: $purple;
    color: $white;
    outline: none;
    padding: 0 5px;
  }

  &__item-link:hover {
    color: $purpleFocus;
  }

  &__item-link:active {
    color: $textBlack;
    border-bottom: 1px solid $textBlack;
  }

  @media only screen and (max-width: 1600px) {
    &__events-item-picture {

      display: block;
    }
    &__events-item-image {
      height: inherit;
    }
    &__events-item-location {
      width: 70%;
      align-self: self-end;
      text-align: right;
      margin-bottom: 5px;
    }
    #first-event-title {
      width: 100%;
    }
   /*

    &__events-list {
      flex-direction: column;
      align-items: center;
    }

    &__events-item {
      width: 80%;
      min-height: 683px;
    }

    &__events-title {
      margin-bottom: 15px;
    }

    &__events-item-block {
      width: initial;
      padding: 15px 30px 45px 30px;
      height: max-content //483px;
    }

    &__events-item-location {
      width: 70%;
      align-self: self-end;
      text-align: right;
      margin-bottom: 5px;
    }

    &__events-item-picture {
      overflow: hidden;
      height: max-content;
    }

    &__events-item-title {
      margin-bottom: 5px;
    }

    &__item-link {
      margin-top: 0;
    }*/
  }

  @media (min-width: 960px) and (max-width: 1025px) {
    &__events-item {
      width: 31.5%;
     // overflow: hidden;
    }

    &__events-list {
      flex-direction: row;
      align-items: center;
    }

    &__events-item-picture {
      height: 200px;
    }

    &__events-item-image {
      width: 100%;
      height: 200px;

    }

    &__events-item-block {
      width: initial;
      padding: 15px 30px 45px 30px;
      height: 483px;
    }

    #second-event-location {
      width: 40%;
    }

    &__events-item-paragraph {
      width: 97%;
    }

    &__events-item-location {
      margin-bottom: 5;
    }

    &__events-item-paragraph {
      margin-bottom: 0px;
    }

    &__item-link {
      margin-top: auto;
      padding-left: 5px;
    }
  }

  @media only screen and (max-width: 959px) {
    &__events-list {
      flex-direction: column;
    }

    &__events-item-block {
      padding: 13px 30px 47px 32px;
      //  min-height: 0;
      height: max-content;
    }

    &__events-item {
      width: 100%;
      height: max-content;
      min-height: 0;
      margin-bottom: 28px;
    }

    &__events-item-picture {
      height: 200px;
    }

    &__events-item-image {
      width: 100%;
      height: 200px;
    }

    &__events-item-location {
      width: 25%;
    }

    #second-event-location {
      width: 15%;
    }

    &__events-item-title {
      width: 80%;
      margin-bottom: 13px;
    }

    &__events-item-paragraph {
      width: 99%;
      margin-bottom: 58px;
    }

    &__item-link {
      margin: 0;
    }

  }


  @media only screen and (max-width: 380px) {
    &__events-title {
      width: 100%;
      font-size: 28px;
      line-height: 38px;
      margin-bottom: 10px;
    }

    &__events-item {
      padding-right: 9px;
     // max-height: 683px;
      margin-bottom: 20px;
    }

    &__events-item-block {
      padding: 18px 18px 47px 21px;
    }

    &__events-item-image {
      width: 100%;
    }

    #second-event-location {
      width: 40%;
    }

    &__events-item-location {
      width: 65%;
      margin-bottom: 10px;
    }

    &__events-item-title {
      width: 100%;
      margin-bottom: 5px;
    }

    &__events-item-paragraph {
      width: 100%;
      margin-bottom: 47px;
    }


    &__item-link {
      margin-left: 6px;
    }

  }
}
