@import "../styles/root.scss";

.contacts {
	$root: &;
width: 30%;
	&__links{
		display: flex;
		align-items: flex-start;
		a{
			@include headerIndexFont();
			margin-right: 46px;
		}
		svg{
			width: 20px;
			height: 20px;
			cursor: pointer;
		}
		svg:not(:last-child) {
            margin-right: 30px;
        }
	}
}