mixin hero(props)
	section.hero&attributes(attributes)(data-component='hero')(class="container") 
		h2.hero__title Поставщик услуг цифровой трансформации <br>и кибербезопасности
		button.hero__button На сайт
		