include ../src/components/contacts/contacts
include ../src/components/footer/footer
include ../src/components/main/main
include ../src/components/header/header


mixin svg(id)
    svg(focusable = 'false')&attributes(attributes)
        use(xlink:href=`#${id}`)


<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title test
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Montserrat:wght@400;600&family=Roboto&display=swap" rel="stylesheet")
    body
        block body
