@import '../src/components/contacts/contacts';
@import '../src/components/footer/footer';
@import '../src/components/main/main';
@import '../src/components/header/header';
@import '../src//components/styles/root.scss';

html {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    position: relative;
}

* {
    box-sizing: border-box;
}

body {
    position: relative;


    -webkit-tap-highlight-color: transparent;

    margin: 0 auto;
    padding-top: 46px;
    background-color: $blackBG;

    @media (max-width: 320px) {
        padding: 0;
        
    }
}
header,
main,
footer{
    padding-left: 150px;
    padding-right: 150px;
    @media (max-width: 320px) {
        padding: 0;
        padding-left: 15px;
        
    }
}

h1,
h2,
h3,
h4,
h5,
p,
a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    padding: 0;
    margin: 0;
    word-break: break-word;
    word-wrap: break-word;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    border: none;
    background: inherit;
    font-size: inherit;
    font-family: inherit;
    -webkit-appearance: none;
    color: inherit;

    &:hover,
    &:active,
    &:focus {
        outline: none;
    }
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

    &:hover,
    &:active,
    &:focus {
        outline: none;
    }
}
