- var links = ['Услуги','Виджеты','Интеграции','Кейсы','Сертификаты']

mixin header(props)
	header.header&attributes(attributes)(data-component='header')
		.header__box
			.header__logo-block
				+svg('logo_welbex')
				span.header__logo-span крупный интегратор CRM <br>в Росcии и ещё 8 странах
			.header__menu
				each item in links
					a(href="#")!= item
		+contacts()