.header {
	$root: &;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	background-color: $white;
	font-family: 'Proxima Nova Condensed Bold';
	svg {
		width: 125px;
		height: 25px;

	}

	&__menu {
		display: flex;
	
         ul{
			display: flex;
			flex-wrap: wrap;
			li {
				color: $text-black;
				font-size: 18px;
				line-height: 20px;
			}
			li:not(:last-child){
				margin-right: 20px;
			}
		}
		
	}

	@media (max-width: 880px) {
		padding: 16px 5px 11px 5px;
		&__logo{
			margin-bottom: 16px;
		}
		&__menu{
          ul{

			li{
				font-size: 14px;
				line-height: 16px;
				margin-bottom: 5px;
			}
			li:not(:last-child){
				margin-right: 8px;
			}
		  }
		}
	}
}