- var location = ['Все','Москва','Центр','Северо-Запад','Юг','Волга','Урал','Сибирь','Дальний восток'];
//- var detailLocation = [['Воронеж','Ярославль','Белгород'],['Санкт-Петербург','Калининград'],['Ростов-на-Дону','Краснодар','Волгоград'],['Казань','Самара','Уфа','Оренбург','Нижний Новгород'],['Екатеринбург','Челябинск','Пермь','Сургут','Тюмень','Ижевск'],['Новосибирск','Омск','Томск','Красноярск','Иркутск'],['Хабаровск','Владивосток']]
mixin map(props)
	section.map&attributes(attributes)(data-component='map')
		.map__header-menu(class='container')
			.map__select Офисы Softline
				+svg('arrow').map__arrow
			ul.map__nav-menu
				each item in location
					li.map__menu-item!= item
		.map__detail-lists
			.map__detail-nav
				each item in location
					li.map__detail-item!= item
						.map__triangle