mixin hero(props)
	section.hero&attributes(attributes)(data-component='hero')(class="container") 
		h2.hero__title Поставщик услуг цифровой трансформации <br>и кибербезопасности
		.hero__button-block
			a(href="https://softline.ru").hero__button На сайт
		