mixin gallery(props)
	section.gallery&attributes(attributes)(data-component='gallery')(class="container")
		.gallery__container
			.swiper
				.gallery__header-block
					h2.gallery__title Корпоративная жизнь
					.gallery__btn-block
						.swiper-button-prev
							+svg('swiperBtnNext')
						.swiper-button-next
							+svg('swiperBtnNext')
				.swiper-wrapper
					.swiper-slide
						.pic1
					.swiper-slide
						.pic2
					.swiper-slide
						.pic3
					.swiper-slide
						.pic4
					.swiper-slide
						.pic5
				.swiper-pagination
			