.main {
	$root: &;
	position: relative;
    max-width: 1440px;
	&__second-mobile {
		display: none;
	}

	display: flex;
	padding-top: 94px;

	&__red-ball {
		position: absolute;
		top: -50px;
		left: 35%;
		width: 117px;
		height: 117px;
		fill: radial-gradient(82.3% 82.3% at 27.25% 26.5%, rgba(255, 208, 208, 0.54) 0%, rgba(212, 93, 93, 0.26) 59.67%, rgba(167, 49, 49, 0.25) 78.59%, rgba(130, 25, 25, 0.25) 100%);
		filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25));
		backdrop-filter: blur(2px);
		z-index: -1;
	}

	&__red-ball-sm {
		position: absolute;
		top: 405px;
		left: 59%;
		width: 39.5px;
		height: 39.5px;
		fill: radial-gradient(82.3% 82.3% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.25) 59.67%, rgba(167, 49, 49, 0.26) 78.59%, rgba(130, 25, 25, 0.23) 100%);
		filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25)) blur(2.5px);
		backdrop-filter: blur(2px);
	}

	&__red-light {
		position: absolute;
		width: 311px;
		height: 311px;
		top: 245px;
		left: -7%;
		border-radius: 50%;
		background-color: rgba(150, 26, 26, 0.50);
		filter: blur(196px);
		z-index: -1;
	}

	&__purple-ball {
		position: absolute;
		top: -115px;
		left: 59%;
		width: 95px;
		height: 95px;
	}
	
	&__purple-light {
		position: absolute;
		width: 259px;
		height: 259px;
		top: -170px;
		left: 42%;
		border-radius: 50%;
		opacity: 0.5;
		background-color: #833AB4;
		filter: blur(196px);
		z-index: -1;
	}

	&__first-block {
		width: 50%;
	}

	&__first-title {
		width: 70%;
		margin: 0;
		margin-bottom: 30px;
		color: $light-text;
		font-family: 'Inter';
		font-size: 48px;
		font-weight: 400;

		span {
			color: transparent;
			-webkit-background-clip: text;
			background-clip: text;
			background-image: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
			font-size: 48px;
			font-weight: 900;
		}

	}

	&__first-paragraph {
		width: 60%;
		color: $light-text;
		font-family: "Montserrat";
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
	}

	&__second-block {
		width: 50%;
		padding-top: 15px;
		display: flex;
		flex-direction: column;
		align-items: flex-end
	}

	&__second-title {
		@include inter18();
		text-align: right;
		margin-bottom: 40px;

		span {
			color: transparent;
			-webkit-background-clip: text;
			background-clip: text;
			background-image: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
			font-weight: 700;
			letter-spacing: 0.9;
			text-transform: uppercase;
		}
	}

	&__second-descktop {
		width: 58%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 30px;

		div {
			width: 50%;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			margin-bottom: 30px;
		}

		h3 {
			@include inter18();
			letter-spacing: 0.9;
			text-transform: uppercase;
		}

		p {
			//width: 70%;
			color: $light-text;
			text-align: right;
			font-family: 'Montserrat';
			font-size: 16px;
			font-weight: 400;
		}
	}

	&__second-btn {
		background-color: $lighth-blue;
		padding: 21px 35px;
		color: $light-text;
		font-family: 'Inter';
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 70px;
	}

	@media (max-width: 320px) {
		flex-direction: column;
		padding-top: 40px;
        max-width: 320px;
		overflow: hidden;
		&__red-ball {
			display: none;
		}
		&__red-ball-sm{
			top:92%;
			left: 6%;
			width: 45px;
			height: 45px;
			filter: blur(4px);
			z-index: -1;
		}
		&__purple-ball{
			top: 240px;
			left: 92%;
			width: 45px;
			height: 45px;
			filter: blur(4px);
			z-index: -1;
		}
		&__purple-light {
			top: 107px;
			left: 82%;
		}

		&__red-light {
			width: 211px;
			height: 210px;
			top: 241px;
			left: -15%;
			filter: blur(196px);
			
		}

		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			filter: blur(1px);
			background-color: white;
			opacity: 0.4;
			mix-blend-mode: overlay;
			z-index: -1;
		}

		&__first-block {
			width: 100%;
			margin-bottom: 45px;

			h1 {
				width: 100%;
				font-size: 36px;
				margin-bottom: 15px;

				span {
					font-size: 36px;
				}
			}

			p {
				width: 100%;
			}
		}

		&__second-block {
			width: 100%;
			padding-top: 0;
			align-items: flex-start;
		}

		&__second-title {
			text-align: start;
			margin-bottom: 20px;
		}

		&__second-descktop {
			display: none;
		}

		&__second-btn {
			display: none;
		}

		&__second-mobile {
			display: flex;

			ul {
				display: flex;
				flex-wrap: wrap;
				margin-bottom: 46px;

				li {
					position: relative;
					width: max-content;
					margin-bottom: 14px;
					padding-left: 15px;
					color: #E4E5EA;
					font-family: 'Montserrat';
					font-size: 13px;
					font-weight: 400;
					letter-spacing: 0.65px;
					text-transform: uppercase;
				}

				li:nth-child(2n+1) {
					width: 40%;
				}

				li::after {
					content: '';
					position: absolute;
					width: 10px;
					height: 1px;
					background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
					top: 50%;
					left: 0;

				}
			}
		}
	}

}