mixin mission(props)
	section.mission&attributes(attributes)(data-component='mission')
		+svg('pattern')(class="mission__left-pattern")
		.mission__block(class="container")
			h2.mission__title Миссия Softline
			p.mission__descr Мы помогаем организациям трансформироваться, работать эффективно и безопасно <br>в условиях цифровой экономики.
		+svg('pattern')(class="mission__right-pattern")