@import '../src/components/styles/roots';
@import '../src/components/styles/mixins';
@import '../src/components/footer/footer';
@import '../src/components/main/main-hero';
@import '../src/components/main/main-about';
@import '../src/components/main/main-gallery';
@import '../src/components/main/main-catalog';
@import '../src/components/main/main-events';
@import '../src/components/main/main-projects';
@import '../src/components/header/header';
@import '../src/components/header-nav/header-nav';


html {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  position: relative;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  background-color: $white;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  padding: 0;
  margin: 0;
  word-break: break-word;
  word-wrap: break-word;
}

h2::first-letter {
  text-transform: uppercase;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  border: none;
  background: inherit;
  font-size: inherit;
  font-family: inherit;
  -webkit-appearance: none;
  color: inherit;

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}

.container {
  max-width: 1920px;
  height: max-content;
  margin: 0 auto;
}

.container-padding {
  padding-left: 160px;
  padding-right: 160px;
}

/*
@media only screen and (min-width: 1921px) {
  .container-padding {
    padding-left: 20%;
    padding-right: 20%;
}
}*/
@media only screen and (max-width: 1400px) {
  .container-padding {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media only screen and (max-width: 380px) {

    .container-padding {
      padding-left: 15px;
      padding-right: 6px;
    }
  }
}

@media (min-width: 985px) and (max-width: 1024px) {
  .font-size16 {
    font-size: 13.5px;
  }
}
