.detail{
    display: flex;
    flex-direction: column;
    padding-left: 7%;
}

.detail-title{
    margin: 0;
    margin-bottom: 20px;
}
.detail-block-title{
    margin: 0;
    font-family: var(--fontf);
    font-weight: var(--fontW4);
    font-size: 18px;
    line-height: normal;
    color: var(--gray48);
}
.first-row-title{
    margin-bottom: 11px;
}
.second-row-title{
    margin-bottom: 21px;
}

.detail-second-row,
.detail-first-row{
    display: flex;
    justify-content: space-between;
    width: 85.5%;
}
.detail-first-row{
    margin-bottom: 18px;
}





.detail-wind-block,
.detail-humidity-block,
.detail-visibility-block,
.detail-pressure-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 37.5%;
    padding: 20px 25px 0 25px;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.05);
    background: var(--whiteFF);
    border-radius: 10px;
}

.block-data-text,
.block-data-number{
    margin-right: 8px;
    font-family: var(--fontf);
    font-weight: var(--fontW9);
    font-size: var(--fontS64);
    line-height: normal;
    color: var(--gray48);
}
.block-data-text{
    font-weight: var(--fontW5);
    font-size: var(--fontS36);
}

.detail-pressure-block .detail-block-data .block-data-text{
   
    font-size: 18px;
}


.block-wind-direction{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.block-wind-direction img{
    margin-right: 11px;
}
.wind-direction-span{
color: var(--gray, #48484A);
font-family: var(--fontf);
font-size: 18px;
font-weight: 300;
line-height: normal;
}
.detail-pressure-block .detail-block-data,
.detail-visibility-block .detail-block-data{
    margin-bottom: 24px;
}
