@import url(./forecast.css);
@import url(./detail.css);
@import url(./media.css);

:root {
  --bgF1: #F1F1F1;
  --whiteFF: #FFFFFF;
  --gray48: #48484A;
  --grayD3: #D3D3D3;
  --hintAC: #ACACAC;
  --fontf: 'Rubik';
  --fontS64: 64px;
  --fontS36: 36px;
  --fontW4: 400;
  --fontW5: 500;
  --fontW7: 700;
  --fontW9: 900;
}

body {
  background: var(--hintAC);
}

.title {
  margin-right: 24px;
  font-family: var(--fontf);
  font-weight: var(--fontW7);
  font-size: 24px;
  line-height: 24px;
  color: var(--gray48)
}

.main-container {
  display: flex;
  height: max-content;
  margin: 0 auto;
  background-color: var(--bgF1);
}

.sideP {
  position: relative;
  width: 32%;
  max-height: max-content;
}

.sideP-container {
 
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 43px;
  background-color: var(--whiteFF);
  background-image: url(../img/Cloud-background.jpg);
  background-repeat: no-repeat;
  background-position: 0 35%;
  background-size: contain;
}



.sideP-btn {
  width: 39%;
  margin: 0 0 24px 41px;
  background-color: var(--whiteFF);
  padding: 14px 3.4%;
  font-family: var(--fontf);
  font-size: 18px;
  line-height: 21.33px;
  font-weight: var(--fontW7);
  border: 2px solid var(--hintAC);
  border-radius: 10px;
  color: var(--gray48);
  cursor: pointer;
}

.sideP-precipitation-img {
  width: 200px;
  height: 200px;
  align-self: center;
}

.sideP-temperature {
  align-self: center;
  margin-bottom: 17px;
}

.sideP-temperature-num {
  color: var(--gray48);
  font-family: var(--fontf);
  font-weight: var(--fontW9);
  font-size: 96px;
  line-height: 113.76px;
  margin-right: 5px;
  z-index: 9999;
}

.sideP-temperature-celsius {
  color: var(--gray48);
  font-family: var(--fontf);
  font-weight: var(--fontW5);
  font-size: 50px;
  line-height: 59.25px;
}

.sideP-precipitation-text {
  margin: 0;
  margin-bottom: 16px;
  align-self: center;
  font-family: var(--fontf);
  font-weight: var(--fontW7);
  color: var(--gray48);
  font-size: 36px;
  line-height: 36px;
}

.sideP-temperature-feel {
  margin: 0;
  margin-bottom: 75px;
  align-self: center;
  font-family: var(--fontf);
  font-size: 18px;
  line-height: 21.33px;
  font-weight: var(--fontW4);
  color: var(--hintAC);
}

.sideP-day-date {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.sideP-location-city,
.sideP-date-month,
.sideP-date-num,
.sideP-date-week,
.sideP-day {
  font-family: var(--fontf);
  font-size: 18px;
  line-height: 21.33px;
  font-weight: var(--fontW4);
  color: var(--hintAC);
}

.sideP-location {
  display: flex;
 justify-content: center;
  margin-bottom: 35px;
}

.sideP-location-img {
  margin-right: 10px;
}

.sideP-location-city {
  align-self: center;
}

.sideP-second-container {
  position: absolute;
  visibility: hidden;
  width: 100%;

  display: flex;
  flex-direction: column;
  left: -460px;
  top: 0;
  padding-top: 42px;
  background-color: var(--whiteFF);
  transition: left 0.5s linear;
  z-index: 9999;

}

.sideP-close-block {
  position: relative;
  align-self: end;
  margin: 0 45px 46px 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.sideP-btn-close2,
.sideP-btn-close {
  position: absolute;
  top: 50%;
  right: 5%;
  width: 28px;
  height: 3px;
  background-color: var(--gray48);
  transform: rotate(45deg);
}

.sideP-btn-close2 {
  transform: rotate(-45deg);
}

.sideP-search-block {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 551px;
}

.sideP-input {
  width: 51%;
  padding: 0;
  padding: 15px 5% 14px 12%;
  border-radius: 10px;
  border: none;
  outline: 2px solid var(--hintAC);
  color: var(--gray48);
  font-family: var(--fontf);
  font-size: 18px;
  line-height: 21.33px;
  font-weight: var(--fontW7);
  background: url(../img/search.svg) no-repeat 8% 50%;
}

.sideP-btn-search {
  width: 26.3%;
  border-radius: 10px;
  padding: 15px 2% 14px 2%;
  border: none;
  text-align: center;
  background-color: var(--whiteFF);
  outline: 2px solid var(--hintAC);
  color: var(--gray48);
  font-family: var(--fontf);
  font-size: 18px;
  line-height: 21.33px;
  font-weight: var(--fontW7);
  cursor: pointer;
}

/*/////////////////////////////////*/








