.map {
	$root: &;

	position: relative;
	color: $text-black;
	font-family: 'Proxima Nova Condensed Bold';


	&__header-menu {
		padding: 0 70px 0 70px;
		display: flex;
		height: max-content;
		align-items: center;
		font-weight: 600;
		margin-bottom: 20px;
		box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.06);

		svg {
			width: 24px;
			height: 24px;
			margin-left: 16px;
			cursor: pointer;
		}
	}

	&__nav-menu {
		display: flex;
		margin-left: auto;

		li {
			position: relative;
			padding: 30px 0;
			font-size: 18px;
			line-height: 20px;
			transition: all 0.3s ease-in-out;
			cursor: pointer;

		}

		li:active::after {
			width: 100%;
			transition: all 0.2s ease-in-out;
		}

		li:active {
			color: $cherry;
		}

		li:hover {
			color: $cherry;
		}

		li::after {
			position: absolute;
			content: '';
			width: 0;
			height: 3px;
			background-color: $cherry;
			bottom: 0;
			left: 0;

		}

		li:not(:last-child) {
			margin-right: 30px;
		}
	}

	&__select {
		display: flex;
		align-items: center;
		font-size: 24px;
		line-height: 100%;
	}

	&__detail-nav {

		display: none;
		position: absolute;
		width: 100%;
		left: 0;
		padding: 30px 0;
		justify-content: space-between;
		padding: 30px 69px;
		background-color: $white;
		box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.06);

		transition: all 0.4s ease-in-out;
		z-index: 100;
	}

	&__detail-item {
		
		font-size: 18px;
		font-family: 'Proxima Nova Condensed Bold';
		line-height: 20px;
	}

	&__mini-list {
		padding-top: 15px;
	}

	&__detail-item:first-child {
		display: none;
	}

	&__mini-item {
		font-family: 'Proxima Nova Condensed';
		color: $text-black;
	}

	&__mini-item:not(:last-child) {
		margin-bottom: 11px;
	}

	///////////////////////////////////////////////////////////////////////////////////////////////////////////////
	@media (max-width: 1024px) {
		&__detail-nav {
			padding-left: 15px;
			padding-right: 15px;
			flex-wrap: wrap;
		}

		&__detail-item {
			margin-bottom: 15px;
		}
		&__nav-menu{
			li{
				font-size: 14px;
				white-space: nowrap;
			}
		}
	}

	@media (max-width: 320px) {
		padding-top: 2px;


		&__triangle {
			position: absolute;
			left: 47px;
			top: 5px;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-top: 5px solid $text-black;
			transition: transform 0.3s ease;
			pointer-events: none;
		}

		&__detail-item:nth-child(3) {
			div {
				left: 38px;
			}
		}

		&__detail-item:nth-child(4) {
			div {
				left: 84px;
			}
		}

		&__detail-item:nth-child(5) {
			div {
				left: 22px;
			}
		}

		&__detail-item:nth-child(6) {
			div {
				left: 38px;
			}
		}

		&__detail-item:nth-child(7) {
			div {
				left: 32px;
			}
		}

		&__detail-item:nth-child(9) {
			div {
				left: 53px;
			}
		}



		&__detail-nav div:nth-child(2) {
			//спрятал первый треугольник
			display: none;
		}

		&__nav-menu {
			li {
				padding: 20px 0;
			}

			li:not(:last-child) {
				margin-right: 16px;

			}
		}



		&__header-menu {
			flex-direction: column;
            margin-bottom: 10px;
			svg {
				width: 28px;
				height: 20px;
				margin-left: 6px;
			}
		}

		&__detail-nav {
			justify-content: flex-start;
			padding: 0 5px;
			top: 50%;
			left: 0;
			display: none;
			box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.06);
		}


		&__select {
			padding-top: 18px;
			width: 100%;
			font-size: 20px;
		}

		&__detail-item {
			position: relative;
			display: flex;
			flex-direction: column;
			width: 37%;
			font-size: 14px;
			line-height: 14px;
			cursor: pointer;
		}

		&__detail-item:nth-child(3),
		&__detail-item:nth-child(6),
		&__detail-item:nth-child(9) {
			width: 26%;
		}

		&__mini-list {
			max-height: 0;
			overflow: hidden;
			transition: .5s ease-in-out;
		}
	}


}

.arrowRotate {
	transform: rotate(180deg);
	top: 3px;
}

.deteilNavVisiblity {
	display: flex;
}

.nav-menu-visibility {
	opacity: 0.1;
}