:root {
  --padcont: 75px;
  --margcont: 31px;
  --whiteFF: #FFFFFF;
  --gold0E: #E1670E;
  --gold00: #FF9900;
  --black33: #333333;
  --black22: #222222;
  --greyCA: #CACACA;
  --greyEC: #ECECEC;
}

button,
label {
  cursor: pointer;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.vissually-hidden {
  visibility: hidden;
  height: 0;
  margin: 0;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

body {
  position: relative;
  margin: 0 auto;
  width: auto;
  height: 100%;
  font-family: "Montserrat";
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

.list-res {
  list-style: none;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Semibold'),
    url('../fonts2/montserrat-semibold.woff2') format('woff2'),
    url('../fonts2/montserrat-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'),
    url('../fonts2/montserrat-regular.woff2') format('woff2'),
    url('../fonts2/montserrat-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'),
    url('../fonts2/montserrat-bold.woff2') format('woff2'),
    url('../fonts2/montserrat-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-ExtraBold'),
    url('../fonts2/montserrat-extrabold.woff2') format('woff2'),
    url('../fonts2/montserrat-extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1920px;

  padding: 0 var(--padcont) 0 var(--padcont);
}

.btn-res {
  border: none;
  outline: none;
  padding: 0;

}

/* navig */
.header {
  width: 100%;
  position: relative;
}

.container-header {

  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  height: 100px;
  justify-content: end;
  border-radius: 0 0 32px 32px;
  margin-bottom: 50px;
}

.logo-img {
  margin: 0;
  width: 224px;
  height: 72px;
  align-self: center;
  margin-right: auto;
}

.burger {
  display: none;
}


.header-nav {
  margin-right: 16%;
}

.header-list-item {
  display: inline-flex;
  justify-content: right;

  padding-top: 39px;
  width: 710px;
  ;
}

.header-link:not(:last-child) {
  margin-right: auto;
}

.header-link {
  white-space: nowrap;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  transition: all 0.6s ease-in-out;

}

.header-link:hover {
  border-bottom: 1px solid var(--gold00);
}

.header-link:focus-visible {
  color: var(--gold33);
  outline: 2px solid var(--gold00);
  outline-offset: 2px;
}

/* всплывающее окно ввода */

.header-inputs {
  position: absolute;
  top: 36.5%;
  right: 3.9%;

}


[type="checkbox"] {
  width: 25px;
  height: 25px;
  -webkit-appearance: none;
  appearance: none;
  transition: all 0.3s ease-in-out;
}



.label-serch,
.form {
  position: absolute;
  top: 5%;
  right: 3.9%;

}

.label-serch {
  position: absolute;
  transform-origin: top left;
  z-index: 10000;
}

.form {
  transform: translate(-5%, -50%);
  padding-top: 20px;
  visibility: hidden;
  transition: all 0.5s ease-in-out;

}

.label-serch,
.form {
  transition: all 0.5s ease-in-out;
}

.label-serch,
.form input {
  border-radius: 24px;
  border: none;
}

.form input {
  padding: 0 17% 0 32px;
  width: 540px;
  height: 60px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
}

.input-search:focus-visible {
  outline: 2px solid var(--gold00);
}


.what-search::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ADADAD;
  padding-bottom: 5px;
  border-bottom: 1px solid #DCDCDC;
}

.form--active {
  z-index: -999;
  transform: translate(10%, -50%);
  visibility: visible;
}

.what-search {
  z-index: 0;

}

.closed-search {
  position: absolute;
  right: 3%;
  top: 50%;
}

.lable-closed-search {
  display: none;
}

/*
[type="checkbox"]:checked ~ .form {
  transform: translate(10%, -50%);
  z-index: 1;
  opacity: 1;
}
*/

/**/
.search:hover path {
  stroke: var(--gold00);
  transition: all 0.3s ease-in-out;
}

.search:hover rect {
  fill: var(--gold00);
  transition: all 0.3s ease-in-out;
}

.search:focus-visible {
  color: var(--black33);
  border: 2px solid var(--gold00);
  padding: 1px;
  transition: all 0.3s ease-in-out;
}




.lable-closed-search {
  position: absolute;
  top: 47%;
  right: 1%;
  border: none;
  background: #ffffff;
}

.closed-search:hover rect {
  fill: var(--gold00);
  transition: all 0.3s ease-in-out;
}

.closed-search:hover circle {
  stroke: var(--gold00);
  transition: all 0.3s ease-in-out;
}

.closed-search:active rect {
  fill: var(--black33);
  transition: all 0.3s ease-in-out;
}

.closed-search:active circle {
  stroke: var(--black33);
  transition: all 0.3s ease-in-out;
}

/*
.header-link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
  color: var(--gold0E);

  background-color: var(--gold0E);
  transform: scaleX(0);
  transition: transform 0.3s;
  border-bottom: none;
}
.header-link:active::after{
  transform: scale(1);
} */

.header-link:active {
  color: #E1670E;
  border-bottom: 2px solid var(--gold0E);
}

/* carousel */



.carousel-box {
  width: 837px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.carousel-container {
  height: inherit;
  padding-top: 5.6%;
  padding-left: 4.6%;

  background: none;

}

.carousel-titel {
  width: 100%;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85.33px;
  color: var(--whiteFF);

}

.carousel-text {
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--whiteFF);
  margin-bottom: 90px;
}

.carousel-btn {
  align-self: start;
  width: 270px;
  height: 78px;
  border-radius: 16px;
  font-weight: 700;
  font-size: 23.46px;
  line-height: 28.6px;
  white-space: nowrap;
  color: var(--whiteFF);
  background-color: var(--gold00);
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.carousel-btn:hover {
  background: rgba(255, 153, 0, 0.7);
}

.carousel-btn:focus-visible {
  background: rgba(255, 153, 0, 0.7);
  outline: none;
}

.carousel-btn:active {
  background: var(--gold0E);
}

.swiper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: max-content;

  margin-bottom: 50px;
  border-radius: 32px;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: 93%;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
  margin: 0;
  margin-right: 20px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

#slide1 {
  background-image: url(../img/swiper1920.jpg);
}

#slide2 {
  background-image: url(../img/swiper2920.jpg);
}

#slide3{
  background-image: url(../img/swiper3920.jpg);
}
.swiper-slide{
  background-size: cover;
}

.swiper-pagination-bullet {

  background: var(--greyCA);
  width: 15px;
  height: 15px;
  opacity: 1;

}


.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ffffff;
  width: 15px;
  height: 15px;

}

/* about-us */

.about-us-cont {
  flex-direction: column;
  margin-bottom: 101px;
}

.about-us-text {
  width: 70%;
  margin-bottom: 50px;
}

.about-us-titel {
  font-weight: 400;
  font-size: 48px;
  line-height: 58.51px;
  margin-bottom: 20px;
  color: var(--black33);
}

.about-us-span {
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: var(--black33);
}

.about-us-list {
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.about-us-section {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc((100% - var(--margcont)) / 2);
}

.about-us-item1 {
  display: inline-flex;
  align-items: flex-end;
  height: inherit;
  border-radius: 32px;
  width: calc((100% - var(--margcont)) / 2);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.31) 100%), url(../img/abUs1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.item1-box {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5.9%;
  padding-right: 6.4%;
  width: 100%;
  height: 31.3%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 32px 32px;
}

.us-item1-titel {
  width: 454px;
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  color: var(--whiteFF);
}

.item1-box-btn {
  padding: 2.2% 4.6%;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  color: var(--whiteFF);
  background: rgba(0, 0, 0, 0.1);
  border: 3px solid var(--gold00);
  cursor: pointer;
  transition: all 0.3s ease-out;
  border-radius: 16px;

}

.item1-box button:hover {
  background: var(--gold00);
  outline: none;
}

.item1-box button:focus-visible {
  background: var(--gold00);
  outline: none;
}

.item1-box button:active {
  background: var(--gold0E);
  outline: none;
}

.about-us-item {
  padding-top: 65px;
  padding-left: 34.2%;
  background-size: 22% 55%;
  background-repeat: no-repeat;
  background-position: left 8.7% center;
  border: 1px solid var(--greyCA);
  border-radius: 32px;
}

.about-us-block {
  margin-bottom: 62px;
}

.us-item2-titel {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.26px;
  color: var(--black33);
}

.us-item2-text {
  margin-right: 27%;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: var(--black33);
}

.item2 {
  background-image: url(../img/abUs2.jpg);
  margin-bottom: var(--margcont);
}

.item3 {
  background-image: url(../img/abUs3.jpg);
}

/* work */
.work {
  flex-direction: column;
  margin-bottom: 111px;
}

.work-text {
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% / 4) + var(--margcont);
  max-height: 131px;
  margin-bottom: 45px;
}

.work-titel {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 48px;
  line-height: 58.5px;
  color: var(--black33);
}

.work-steps {
  display: inline-flex;
  justify-content: right;
  list-style: none;
  width: 460px;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.work-step {
  transition: all 0.3s ease-in-out;
  color: var(--black33);
  white-space: nowrap;
  background-color: var(--whiteFF);
  border: none;
}

.work-step:not(:last-child) {
  margin-right: auto;
}



.work-step:hover {
  color: var(--gold00);
}

.work-step:focus-visible {
  outline: 2px solid var(--gold00);
  outline-offset: 2px;
}

.work-item1-titel {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
  color: var(--black33);
}

/*00000000000000000000Табы0000000000000000*/

.tabs-nav__btn--active {
  color: var(--gold0E);
}

.tabs-item {
  display: none;
}

.tabs-item--active {
  display: inline-block;
}





.work-span {
  width: 98%;
  max-height: 320px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--black33);
}

.work-box {
  justify-content: space-between;
  height: 100%;
}

.work-item1 {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc((100% - var(--margcont)) / 2);
  height: inherit;
}

.work-item1-text {
  padding-right: 13%;
  margin-bottom: 25px;
}

.work-item2 {
  padding-top: 0.6%;
  width: calc((100% - var(--margcont)) / 2);
}

.work-block {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 460px;
  background-color: #998A8A;
  outline: none;
  border-radius: 32px;
}


.work-pic1 {
  background-image: url(../img/workblock1920.jpg);
}

.work-pic2 {
  background-image: url(../img/workblock2920.jpg);
}

.work-pic3 {
  background-image: url(../img/workblock3920.jpg);
}

.work-pic4 {
  background-image: url(../img/workblock4920.jpg);
}



.work-item1-btn {
  display: inline-block;
}

.work-btn1 {
  width: 175px;
  height: 60px;
  margin-right: 31px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  color: var(--whiteFF);
  background: var(--gold00);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 16px;
}

.work-btn1:hover {
  background: #F7B045;
}

.work-btn1:focus-visible {
  background: #F7B045;
}

.work-btn1:active {
  background: var(--gold0E);
}

.work-btn2 {
  width: 147px;
  height: 60px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  color: var(--black33);
  background: var(--whiteFF);
  border: 1px solid var(--black33);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 16px;
}

.work-btn2:hover {
  background: #666666;
  color: var(--whiteFF);
}

.work-btn2:focus-visible {
  outline: #666666;
  color: var(--whiteFF);
  background: #666666;
}

.work-btn2:active {
  background: #000000;
  color: var(--whiteFF);
}

.work-item1-btn:first-child {
  outline: 2px solid var(--gold00);
}

/* questions */
.questions {
  margin-bottom: 100px;
}

.questions-titel {
  font-weight: 400;
  font-size: 48px;
  line-height: 58.5px;
  margin-bottom: 34px;
  color: var(--black33);
}

.questions-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.8px;
  width: 100%;
  height: 1px;
  background-color: var(--greyCA);
  z-index: 0;
}

.questions-item:hover::before {
  display: none;
}

.ac:first-child {

  border-top: 1px solid var(--greyCA);
  z-index: 0;
}

.questions-item {
  position: relative;
  width: 100%;
  padding-top: 30px;
  border: none;
  align-items: left;
  transition: all 0.3s ease-in-out;
  color: var(--black33);
  font-size: 0;
}

.questions-box {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 30px;

}

.questions-button {
  padding: 0;
  width: 83%;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}



.questions-button:focus-visible {
  outline: none;
  border: none;
}


.questions-item ellipse,
.questions-item path,
.questions-item svg {
  transition: all 0.3s ease-in-out;
  align-self: center;
}

.questions-item:hover .questions-button {
  color: var(--gold00);
}

.questions-item:hover {
  color: var(--gold00);
  border-top: 1px solid var(--gold00);
  border-bottom: 1px solid var(--gold00);
  z-index: 9999;
  opacity: 1;
}

.questions-item:hover ellipse {
  fill: var(--gold00);
}

.questions-item:hover path {
  fill: var(--whiteFF);
}

.questions-item:focus-visible ellipse {
  fill: var(--gold00);
  outline: none;
}

.questions-item:focus-visible {
  color: var(--gold00);
  outline: none;
  border-top: 1px solid var(--gold00);
  border-bottom: 1px solid var(--gold00);
  z-index: 500;
  opacity: 1;
  background-color: #FFFFFF;
}

.questions-item:focus-visible ellipse {
  fill: var(--gold00);
}

.questions-item:focus-visible path {
  fill: var(--whiteFF);
}

.questions-item:active {

  border-top: 1px solid var(--greyCA);
  border-bottom: 1px solid var(--greyCA);
}

.questions-item:active .questions-button {
  color: #000000;
}

.questions-item:active svg {
  transform: rotate(45deg);

}

.questions-item:active ellipse {
  fill: var(--greyEC);
}

.questions-item:active path {
  fill: var(--black33);
}


/* bottom */
/* left */
.bottom-box {
  justify-content: right;
  flex-wrap: wrap;
  padding: 50px var(--padcont);
  height: 100%;

  background-color: var(--black22);
}

.bottom-left {

  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: auto;
  width: 250px;
}

.footer-logo {
  margin-bottom: 22px;
}

.bottom-item {
  width: fit-content;
  color: var(--greyCA);
  white-space: nowrap;
  font-weight: 600;
  font-size: 18px;
  line-height: 2;
  transition: all 0.3s ease-in-out;
}

.bottom-item:hover {
  color: var(--gold00);
}

.bottom-item:focus-visible {
  outline: 1px solid var(--gold00);
}

.bottom-item:active {
  color: var(--gold0E);
}

.bottom-list {
  display: inline-flex;
  flex-direction: column;
}

.network {
  margin-right: 25px;
}

.networks {
  width: 91.5%;
  height: 70px;
  padding-top: 3.5%;
  display: inline-flex;

}

.network path {
  transition: all 0.3s ease-in-out;
}

.network:hover path {
  fill: var(--gold00);
}

.network:focus-visible {
  padding: 1px;
  outline: 1px solid var(--gold00);
}

.network:active path {
  fill: var(--gold0E);
}

/* center */
.bottom-center {
  display: inline-flex;
  flex-direction: column;
  margin-right: 13.5%;
  width: 570px;
  height: max-content;

}

.bottom-titel {
  font-weight: 400;
  font-size: 48px;
  line-height: 58.51px;
  color: var(--greyCA);
  margin-bottom: 25px;
}

.ph-text:nth-child(4) {
  min-height: 150px;
  text-align: left;
  margin-bottom: 33px;
  padding-top: 2.5%;

}

.ph-text {
  min-height: 60px;
  width: 100%;
  background-color: #414141;
  padding-left: 5%;
  margin-bottom: 4.5%;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  border: none;
  resize: none;
  transition: all 0.3s ease-in-out;
  border-radius: 16px;
}

.ph-text:hover {
  background-color: #666666;
  color: var(--greyCA);
}

.ph-text:active::placeholder {
  color: var(--whiteFF);
  transition: all 0.3s ease-in-out;
}

.ph-text:focus-visible {
  background-color: #666666;
  color: var(--greyCA);
  outline: none;
}

.ph-text::-webkit-input-placeholder {
  color: var(--greyCA);
}

.bottom-btn {
  background-color: var(--gold00);
  width: 47.5%;
  height: 58px;
  margin-right: 6.5%;
  border: none;
  color: var(--whiteFF);
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  transition: all 0.3s ease-in-out;
  border-radius: 16px;
}

.bottom-btn:hover {
  background: #F7B045;
}

.bottom-btn:focus-visible {
  background: #F7B045;
}

.bottom-btn:active {
  background: var(--gold0E);
}

.bottom-center-lable {
  color: var(--greyCA);
  align-self: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
}

.bottom-center-lable::before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  border: 1px solid var(--greyCA);
  background-color: var(--black22);
  top: 35.2%;
  left: 51.1%;
  z-index: 1;
}

.bottom-center-lable::after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  background: url(../img/checkbox.svg) no-repeat;
  background-size: 12px 12px;
  top: 36.3%;
  left: 51.3%;
  opacity: 0;
  z-index: 2;
}

.bottom-center-input:checked+.bottom-center-lable::after {
  opacity: 1;
}

.checkbox-inp {
  position: relative;
  padding-left: 2px;
}

.bottom-center-input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;

}

/* right */
.bottom-right {
  align-self: center;
  padding-top: 8px;
  width: 360px;
}

.bottom-right-text {

  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: var(--greyCA);
}
