mixin main(props)
	main.main&attributes(attributes)(data-component='main')(class="container-full")
		+hero()
		+about()
		+map()
		+shmap()
		+mission()
		+direction()
		+compensation()
		+gallery()
		
		